<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create" method="post">
        ИНН <input class="form-control" name="inn"  /> 
        Рейтинг <input class="form-control" name="rating"/>
        <div><button type="submit" class="btn btn-dark">Внести</button></div>
</form>
